
<% if @user.admin == true %>
<%= link_to "New Attraction", new_attraction_path %>

<% @attractions.each do |attraction| %>
	<ul>
		<li> <%= link_to "Show #{attraction.name}",  attraction_path(attraction) %></li>
		
	</ul>
	<% end %>

<% else %>

<% @attractions.each do |attraction| %>
	<ul>
		<li> <%= link_to "Go on #{attraction.name}",  attraction_path(attraction) %></li>
	</ul>

<% end %>
<% end %>
